header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    .navbar {
        height: 60px;
        width: 100%;
        background: #F4F7F6;
        display: flex;
        position: relative;
        justify-content: space-between;
        border-bottom: 1px solid #E0E0E0;
        .menu {
            cursor: pointer;
            display: flex;
            height: 100%;
            align-items: center;
            padding: 0 20px;
            transition: 0.3s;
            border-right: 1px solid #E0E0E0;

            img {
                padding-right: 12px;
            }

            span {
                font-size: 16px;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            }

            &:hover {
                background: #E0E0E0;
                transition: 0.3s;
            }
        }

        .logo {
            position: absolute;
            left: 50%;
            height: 100%;
            display: flex;
            align-items: center;

            img {
                width: 80px;
            }
        }

        .login {
            display: flex;

            a:first-child {
                font-size: 15px;
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                align-items: center;
                display: flex;
                padding: 0 21px;
                transition: 0.3s;
                opacity: 1;

                &:hover {
                    opacity: 0.5;
                    transition: 0.3s;
                }
            }

            a:last-child {
                font-size: 15px;
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                align-items: center;
                display: flex;
                padding: 0 21px;
                color: $white-cl;
                background: #49C5B6;
                ;
                transition: 0.3s;

                &:hover {
                    background: #00827F;
                    transition: 0.3s;
                }
            }
        }
    }
}